<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald" />
    <meta name="author" content="SitePoint" />
  </head>

  <body>
    <form action="/api/upload" method="POST" name="song" enctype="multipart/form-data">
      <input type="file" name="song" id="fileToUpload" />
      <input type="submit" value="Upload Image" name="submit" />
    </form>
  </body>
</html>
